<!DOCTYPE html>
<html ng-app="demo">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style media="screen">
        .text-warning {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container" ng-controller="TextAreaWithLimitCtrl">
        <div class="row">
            <span ng-class="{ 'text-warning': shouldWarn() }">Remaining: {{ remaining() }}</span>
        </div>
        <di
            <textarea ng-model="message">{{ message }}</textarea>
        </div>
        <div class="row">
            <button ng-click="send()" ng-disabled="!hasValidLength()">Send</button>
            <button ng-click="clear()">Clear</button>
        </div>
    </div>
</body>
<script src="../js/angular.js"></script>
<script src="./main.js"></script>
</html>

<!--
ng-class="{ 'text-warning': shouldWarn }"  当shouldWarn运行结果为true时，为该元素添加一个class: text-warning
-->
